#NoHuluAdsMask {
	position: absolute;
	background-color: black;
	color: white;
	z-index: 10000;
}
#NoHuluAdsMask div {
	font-family: Flama;
}
#NoHuluAdsMask #NoHuluAdsShowName {
	font-family: Flama;
	text-align: left;
	margin-left: 40px;
	margin-top: 30px;
	margin-bottom: 150px;
	font-size: 32px;
	font-weight: 300;
}
#NoHuluAdsMask #NoHuluAdsShowName span {
	font-family: Flama;
	font-weight: 500;
}
#NoHuluAdsPauseOnReturn {
	font-size: 26px;
	position: absolute;
	margin: 0px auto;
	width: 100%;
	bottom: 100px;
	cursor: pointer;
}
#NoHuluAdsPauseOnReturn span {
	text-shadow: white 0px 0px 2px;
	position: relative;
	top: 2px;
}
#NoHuluAdsPauseOnReturn.unchecked span { color: black; }
#NoHuluAdsPauseOnReturn.checked span { color: white; }
#NoHuluAdsClickToDismiss {
	font-size: 20px;
	position: absolute;
	margin: 0px auto;
	width: 100%;
	bottom: 30px;
	cursor: pointer;
}
